
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<html>
<style type="text/css">
    .jumbotron {
        margin-bottom: 0px;
        background-color: orange;
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        text-color: dark pink;
    }

    .img2 {
        border-radius: 25px;
    }
</style>

<div class="jumbotron">

    <div class="column">
        <div class="row">
            <img class="img2" src="~/images/no.jpg" style="width:100%" ; align:"center"; border-radius: "25px" ; />
        </div>
    </div>
</div>
</html>


